@media (min-width: 768px){
	#myWorklogModal .modal-dialog{
		width: 960px;
	}
}


a.tabsTitle{
	    text-align: center;
    font-weight: 600;
    color: #333333;
}

a.tabsTitle:hover{
	border-color: #ffffff;
	background-color: #ffffff;
}

.tab-content .row{
	margin-top: 20px;
}

.tab-content .row label.col-md-2{
	width: 13%;
}

.timer{
	float: left;
    margin: 4px 9px;
    padding: 4px 6px;
    background: #337ab7;
    color: #ffffff;
    border-radius: 3px;
}